.color-selector {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.color-dot:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%; /* Tooltip'u dot'un üzerine yerleştirir */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Tooltip'un altına üçgen ekler */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
